@model IEnumerable<CRM.Models.ViewModel.GasBillPrint>
@{
    ViewBag.Title = "GasBookedBill";
    Layout = null;
}

<html>
<head>
    <style>
        .btnprint {
            width: 150px;
            margin: auto;
            background-color: green;
            color: white;
            font-weight: bold;
            height: 36px;
            text-align: center;
            font-size: larger;
            padding-top: 16px;
            position: fixed;
            right: 0;
            top: 45%;
            cursor: pointer;
            display: none;
        }

        .mainarea {
            margin: auto;
            width: 980px;
        }

        .billarea {
            width: 479px;
            height: 322px;
            padding-top: 10px;
            /* float: left; */
            position: relative;
            margin: 0px 4px auto;
            transform: scale(0.99);
        }

        .gaspoint {
        }

            .gaspoint::after {
                transform: rotate(-90deg);
                content: "Regn. No. 760086440";
                color: black;
                position: absolute;
                right: -60px;
                top: 42%;
            }

        .billareaHP {
        }

            .billareaHP::after {
                transform: rotate(-90deg);
                content: "GSTIN: 27APGPS0485J1ZG";
                color: black;
                position: absolute;
                right: -83px;
                top: 42%;
            }

        .td-distributor .billarea {
        }

        .td-distributor, .td-customer {
            border-bottom: 2px solid;
            border-bottom-style: dashed;
        }

        .td-distributor {
            border-right: 2px solid;
            border-right-style: dashed;
        }

        .tbl-main {
        }



        .tbl-upper {
            width: 100%;
            border-collapse: collapse;
        }

        .billarea-td2 {
            width: 70%;
            color: black;
            text-align: center;
            line-height: 1px;
            height: 30px;
            border-bottom: 2px solid rgb(34,41,122);
            background-color: rgb(242, 18, 16);
            -webkit-print-color-adjust: exact;
            padding: 14px 0px 10px 0;
        }

        .billarea-td1 {
            border-bottom: 2px solid #412560;
            font-size: 25px;
        }

        .billarea-td2 p {
            line-height: 1px;
        }

        .billarea .cls-hind {
            color: #e43d04;
            font-weight: bold;
        }

        .billarea .cls-gas {
            color: #382924;
            font-weight: bold;
        }

        .pgs-title {
            color: #e43d04;
            line-height: 1px;
            margin-top: 7px;
            font-weight: bold;
            font-size: 14px;
        }

        .tbl-contents {
            width: 100%;
        }

            .tbl-contents td {
                vertical-align: top;
                line-height: 15px;
            }

        .tbl-bottom {
            width: 100%;
            font-weight: bold;
        }

            .tbl-bottom td {
                border-top: 2px solid #412560;
                border-bottom: 2px solid #412560;
                text-align: center;
            }

            .tbl-bottom .td-first {
                text-align: left;
            }

            .tbl-bottom .td-third {
                text-align: right;
                margin-right: 10px;
            }

            .tbl-bottom .tdcenter {
                border: 0px;
                vertical-align: bottom;
            }

                .tbl-bottom .tdcenter span {
                    border-top: 1px solid #412560;
                    text-align: center;
                }

        .address {
            text-align: center;
            font-size: 11px;
            margin-top: -4px;
        }

            .address p {
                line-height: 0;
            }

        .companylogo {
            width: 92%;
            height: 79px;
            margin-left: 11px;
        }

        .hpgas {
            width: 54%;
            height: 101px;
            margin-left: 73px;
            margin-top: -17px;
        }



        .heading {
            font-weight: bold;
            line-height: 0.7;
        }

        body {
            background: rgb(204,204,204);
        }

        .name-content, .address-content, .customer-content, .mob-content, .rate-content {
            font-weight: bold;
            font-size: 15px;
        }

        .gastext {
            position: relative;
        }

            .gastext .content {
                position: absolute;
                bottom: -2px;
                color: white;
                right: 59px;
                text-align: center;
                font-size: 0.7rem;
                line-height: 0.9;
            }
    </style>
    <!-- Normalize or reset CSS with your favorite library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">

    <!-- Load paper.css for happy printing -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.4.1/paper.css">
    <style>
        page {
            size: A4;
        }

        body.A4 .sheet {
            width: 261mm;
            height: 366mm;
        }

        .sheet.padding-10mm {
            padding: 0mm;
        }
    </style>

</head>

<body class="A4">
    <div onclick="print()" class="btnprint">Print Bill</div>

    <div class="mainarea">


        @for (int i = 0; i < Model.Count();)
            {
                int j = 0;
                int temp = i;
            <section class="sheet padding-10mm">
                @for (j = i; j < temp + 4; j++, i++)
                {
                    if (j <= Model.ToList().Count() - 1)
                    {
                        var obj = Model.ToList()[j];
                        string hpclass = "gaspoint";
                        if (obj.CompanyName.ToLower() == "HP Gas".ToLower()) { hpclass = "billareaHP"; }
                        <table class="tbl-main">
                            <tr>
                                <td class="td-distributor">
                                    <div class="billarea @hpclass">
                                        <table class="tbl-upper">
                                            <tr>
                                                <td class="billarea-td1">
                                                    @if (obj.CompanyName.ToLower() == "Hind Gas".ToLower())
                                                    {
                                                        <span class="cls-hind">HIND</span>
                                                    }
                                                    @if (obj.CompanyName.ToLower() == "HP Gas".ToLower())
                                                    {
                                                        <span class="cls-hind">HP</span>
                                                    }
                                                    <span class="cls-gas">G A S</span>
                                                </td>
                                                <td class="billarea-td2">
                                                    <p>Hind Gas Refill Booking No</p>
                                                    <p style="font-weight:bold">93201 02179/93247 78914/98199 33648</p>

                                                    @*<img src="~/Content/Images/logo/gasbill-top.png" style="width:100%" />*@
                                                </td>
                                            </tr>
                                        </table>
                                        <p class='pgs-title'>
                                            Priyanka Gas Service @if (obj.CompanyName.ToLower() == "HP Gas".ToLower())
                                            { <span>Non Domestic LPG Distributors</span>}
                                        </p>
                                        <table class='tbl-contents'>
                                            <tr>
                                                <td style="width:50%">
                                                    <span class="heading">Cust No.:</span>
                                                    <span class="content customer-content">@obj.CustomerNo</span>
                                                </td>
                                                <td>
                                                    <span class="heading">Order No.&nbsp;&nbsp;&nbsp;:</span>
                                                    <span class="content">@obj.OrderNo</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="heading">Name.&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                                                    <span class="content name-content">@obj.Name</span>
                                                </td>
                                                <td>
                                                    <span class="heading">CMemo No.:</span>
                                                    <span class="content">@obj.MemoNo</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3" style="width:150px">
                                                    <span class="heading">Address.:</span>
                                                    <span class="content address-content">@obj.Address</span>
                                                </td>
                                                <td>
                                                    <span class="heading">CMemo Dt.&nbsp;:</span>
                                                    <span class="content">@obj.MemoDate</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="heading">Delv Dt.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                                                    <span class="content">@obj.DeliveryDate</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="heading">Delv Man.&nbsp;&nbsp;&nbsp;:</span>
                                                    <span class="content">@obj.DeliveryMan</span>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align:bottom">
                                                    <span class="heading">Mob no.:</span>
                                                    <span class="content mob-content">@obj.MobileNo</span><br />
                                                    <span class="heading">LPG.:</span>
                                                    <span class="content rate-content">@obj.ItemWeight RS.@obj.ItemCharges x @obj.Quantity=Rs.@obj.TotalCharge</span>
                                                </td>
                                                <td colspan="2" class="gastext">
                                                    @if (obj.CompanyName.ToLower() == "Hind Gas".ToLower())
                                                    {
                                                        <img src="~/Content/Images/logo/gaspointwithbottle.png" class="companylogo" />
                                                    }
                                                    @if (obj.CompanyName.ToLower() == "HP Gas".ToLower())
                                                    {
                                                        <img src="~/Content/Images/logo/hponlycommercial.png" class="companylogo hpgas" />
                                                        <p class="content">19Kg<br />Only Commerical</p>
                                                    }

                                                </td>
                                            </tr>
                                        </table>
                                        <table class="tbl-bottom">
                                            <tr>
                                                <td class="td-first"><span>Distributor Copy</span></td>
                                                <td class="tdcenter"><span>Customer's Sign.</span></td>
                                                <td class="td-third"><span>Time: 10:00 AM to 8:00 PM</span></td>
                                            </tr>
                                        </table>
                                        <div class="address">
                                            <p>REC/1230/B, GROUND FLOOR, KAMALA NEHRU NAGAR,</p>
                                            <p>JASMINE MILL ROAD, DHARAVI,MUMBAI-400 017.</p>
                                        </div>
                                    </div>

                                </td>
                                <td class="td-customer">
                                    <div class="billarea @hpclass">
                                        <table class="tbl-upper">
                                            <tr>
                                                <td class="billarea-td1">
                                                    @if (obj.CompanyName.ToLower() == "Hind Gas".ToLower())
                                                    {
                                                        <span class="cls-hind">HIND</span>
                                                    }
                                                    @if (obj.CompanyName.ToLower() == "HP Gas".ToLower())
                                                    {
                                                        <span class="cls-hind">HP</span>
                                                    }
                                                    <span class="cls-gas">G A S</span>
                                                </td>
                                                <td class="billarea-td2">
                                                    <p>Hind Gas Refill Booking No</p>
                                                    <p style="font-weight:bold">93201 02179/93247 78914/98199 33648</p>

                                                    @*<img src="~/Content/Images/logo/gasbill-top.png" style="width:100%" />*@
                                                </td>
                                            </tr>
                                        </table>
                                        <p class='pgs-title'>
                                            Priyanka Gas Service @if (obj.CompanyName.ToLower() == "HP Gas".ToLower())
                                            { <span>Non Domestic LPG Distributors</span>}
                                        </p>
                                        <table class='tbl-contents'>
                                            <tr>
                                                <td style="width:50%">
                                                    <span class="heading">Cust No.:</span>
                                                    <span class="content customer-content">@obj.CustomerNo</span>
                                                </td>
                                                <td>
                                                    <span class="heading">Order No.&nbsp;&nbsp;&nbsp;:</span>
                                                    <span class="content">@obj.OrderNo</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="heading">Name.&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                                                    <span class="content name-content">@obj.Name</span>
                                                </td>
                                                <td>
                                                    <span class="heading">CMemo No.:</span>
                                                    <span class="content">@obj.MemoNo</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td rowspan="3">
                                                    <span class="heading">Address.:</span>
                                                    <span class="content address-content">@obj.Address</span>
                                                </td>
                                                <td>
                                                    <span class="heading">CMemo Dt.&nbsp;:</span>
                                                    <span class="content">@obj.MemoDate</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="heading">Delv Dt.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</span>
                                                    <span class="content">@obj.DeliveryDate</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="heading">Delv Man.&nbsp;&nbsp;&nbsp;:</span>
                                                    <span class="content">@obj.DeliveryMan</span>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td style="vertical-align:bottom">
                                                    <span class="heading">Mob no.&nbsp;:</span>
                                                    <span class="content mob-content">@obj.MobileNo</span><br />
                                                    <span class="heading">LPG.:</span>
                                                    <span class="content rate-content">@obj.ItemWeight RS.@obj.ItemCharges x @obj.Quantity=Rs.@obj.TotalCharge</span>
                                                </td>
                                                <td colspan="2" class="gastext">
                                                    @if (obj.CompanyName.ToLower() == "Hind Gas".ToLower())
                                                    {
                                                        <img src="~/Content/Images/logo/gaspointwithbottle.png" class="companylogo" />
                                                    }
                                                    @if (obj.CompanyName.ToLower() == "HP Gas".ToLower())
                                                    {
                                                        <img src="~/Content/Images/logo/hponlycommercial.png" class="companylogo hpgas" />
                                                        <p class="content">19Kg<br />Only Commercial</p>
                                                    }
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="tbl-bottom">
                                            <tr>
                                                <td class="td-first"><span>Customer Copy</span></td>
                                                <td class="td-third"><span>Time: 10:00 AM to 8:00 PM</span></td>
                                            </tr>
                                        </table>
                                        <div class="address">
                                            <p>REC/1230/B, GROUND FLOOR, KAMALA NEHRU NAGAR,</p>
                                            <p>JASMINE MILL ROAD, DHARAVI,MUMBAI-400 017.</p>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </table>
                    }
                }

            </section>
        }



    </div>
</body>
</html>
