@model CRM.Models.ViewModel.vmCustomerDetailsItem

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="block-header">
    <!-- Colorpicker Css -->
    <link href="~/Content/Theme/Admin/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <!-- Dropzone Css -->
    <link href="~/Content/Theme/Admin/plugins/dropzone/dropzone.css" rel="stylesheet">
    <!-- Multi Select Css -->
    <link href="~/Content/Theme/Admin/plugins/multi-select/css/multi-select.css" rel="stylesheet">
    <!-- Bootstrap Spinner Css -->
    <link href="~/Content/Theme/Admin/plugins/jquery-spinner/css/bootstrap-spinner.css" rel="stylesheet">
    <!-- Bootstrap Tagsinput Css -->
    <link href="~/Content/Theme/Admin/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet">
    <!-- Bootstrap Select Css -->
    <link href="~/Content/Theme/Admin/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet" />
    <!-- noUISlider Css -->
    @*<link href="~/Content/Theme/Admin/plugins/nouislider/nouislider.min.css" rel="stylesheet" />*@
    <!-- Custom Css -->
    <link href="~/Content/Theme/Admin/css/style.css" rel="stylesheet">
    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/Content/Theme/Admin/css/themes/all-themes.css" rel="stylesheet" />
</div>
<div class="block-header">
    <h2>
        New Connection Management
        @*<small>Taken from <a href="https://datatables.net/" target="_blank">datatables.net</a></small>*@
    </h2>
</div>
<!-- Inline Layout | With Floating Label -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">

                @if (Model.ID > 0)
                {
                    <h2>Edit -Consumer No: @Model.ConsumerNo</h2>
                }
                else
                {
                    <h2>New -Consumer No: @Model.ConsumerNo</h2>
                }

                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="~/CustomerDetails/Index">View Customer Details</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                @using (Html.BeginForm())
                {

                    @Html.HiddenFor(m => m.ID, new { @class = "form-control" })
                    @Html.HiddenFor(m => m.ConsumerNo, new { @class = "form-control", @readonly = "readonly" })
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                <label class="form-label">First Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                <label class="form-label">Last Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                @Html.TextAreaFor(m => m.Address, new { @class = "form-control" })
                                <label class="form-label">Address</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                @Html.TextBoxFor(m => m.AreaCode, new { @class = "form-control" })
                                <label class="form-label">Area Code</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                @Html.TextBoxFor(m => m.PhoneNo, new { @class = "form-control" })
                                <label class="form-label">Phone Number</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                @Html.TextBoxFor(m => m.AlternateNo, new { @class = "form-control" })
                                <label class="form-label">Alternate Number</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group form-float">
                            <h2 class="card-inside-title">Customer Type</h2>
                            <div class="demo-radio-button">
                                <input name="group1" type="radio" class="with-gap" id="rdbDomestic" checked="checked">
                                <label for="rdbDomestic">Domestic</label>
                                <input name="group1" type="radio" class="with-gap" id="rdbCommercial">
                                <label for="rdbCommercial">Commercil</label>

                            </div>
                        </div>
                    </div>
                    
                    <div class="row clearfix itemarea">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h2 class="card-inside-title">Below selected item is given to new customer</h2>
                            <table class="table">
                                <tr>
                                    <th>Select</th>
                                    <th>Item Description</th>
                                    <th>Security Deposite</th>
                                    <th>Service Charges</th>
                                    <th>Total</th>
                                    <th>Qty</th>
                                    <th>Amount</th>
                                </tr>
                                @if (Model.ItemMaster != null)
                                {
                                    foreach (CRM.Models.ViewModel.vmItemMaster item in Model.ItemMaster)
                                    {

                                        <tr class="itemRow">
                                            <td><input type="checkbox" class="chkItem" data-itemid="@item.ItemId" style="position:relative;left:0;opacity:1;" checked /></td>
                                            <td class="itemname">@item.ItemName</td>
                                            <td class="securitydeposite">@item.SecurityDeposite</td>
                                            <td class="servicecharges">@item.ServiceCharges</td>
                                            <td class="price">@(item.Price + item.SecurityDeposite + item.ServiceCharges)</td>
                                            <td><input type="text" class="txtqty" value="@item.Qty" style="width:50%;text-align:center" /></td>
                                            <td><span class="totalamount">@(item.Price + item.SecurityDeposite + item.ServiceCharges)</span></td>
                                        </tr>
                                    }

                                }
                                <tr>
                                    <td colspan="6">Amount In Word :<span class="AllTotalWord"></span></td>
                                    <td colspan="1">
                                        <h4 class="AllTotal center">0</h4>
                                    </td>
                                </tr>
                            </table>

                        </div>

                    </div>
                    <div class="btn btn-primary" onclick="AddNewConnection()">Save</div>
                }
            </div>
        </div>
    </div>
    </div>
    <!-- #END# Inline Layout | With Floating Label -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/scripts/CommonScripts.js"></script>
    <!-- Jquery Core Js -->

    <script>
        $(document).ready(function () {
            UpdateTotal();
            $(".txtqty").keyup(function () {
                debugger;
                var total = parseFloat($(this).parents(".itemRow").find(".price").text());
                var qty = parseInt($(this).val());
                if (!isNaN(qty)) {
                    total = total * qty;
                }
                else {
                    total = 0;
                }
                $(this).parents(".itemRow").find(".totalamount").text(total);
                UpdateTotal();
            });
            $(".chkItem").click(function () {
                UpdateTotal();
            });

            if (parseInt($("#ID").val()) > 0) {
                $(".itemarea").hide();
            }

        });
        function UpdateTotal() {
            var total = 0;
            $(".itemRow").each(function () {
                if ($(this).find(".chkItem").is(":checked")) {
                    total += parseInt($(this).find(".totalamount").text());
                    $(".AllTotal").text(total);
                    $(".AllTotalWord").text(convertNumberToWords(total));
                }
                else {
                    $(this).find(".totalamount").text("0");
                }
            });
        }
        function AddNewConnection() {
            debugger;
            $(".page-loader-wrapper").show();
            var ID = $("#ID").val().trim();
            var ConsumerNo = $("#ConsumerNo").val();
            var FirstName = $("#FirstName").val().trim();
            var LastName = $("#LastName").val().trim();
            var Address = $("#Address").val().trim();
            var AreaCode = $("#AreaCode").val().trim();
            var PhoneNo = $("#PhoneNo").val();
            var AlternateNo = $("#AlternateNo").val();
            var CustomerType = ($("#rdbDomestic").is(":checked")) ? "Domestic" : "Commercial";
            var vmItemMaster = [];
            $(".itemRow").each(function () {
                if ($(this).find(".chkItem").is(":checked")) {
                    var ItemRow = {
                        ItemId: $(this).find(".chkItem").attr("data-itemid"),
                        ItemName: $(this).find(".itemname").text(),
                        SecurityDeposite: parseFloat($(this).find(".securitydeposite").text()),
                        ServiceCharges: parseFloat($(this).find(".servicecharges").text()),
                        Price: parseFloat($(this).find(".securitydeposite").text()),
                        Qty: parseInt($(this).find(".txtqty").val()),
                        Total: parseFloat($(this).find(".totalamount").text())
                    };
                    vmItemMaster.push(ItemRow);
                }
            })

            var data = {
                ID: ID,
                ConsumerNo: ConsumerNo,
                FirstName: FirstName,
                LastName: LastName,
                Address: Address,
                AreaCode:AreaCode,
                PhoneNo: PhoneNo,
                AlternateNo: AlternateNo,
                CustomerType: CustomerType,
                ItemMaster: vmItemMaster
            }
            $.ajax({
                type: "POST",
                url: "/CustomerDetails/SaveData",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    $(".page-loader-wrapper").hide();
                    alert(data);
                    location.reload();
                }
            });

        }
    </script>

    <script src="~/Content/Theme/Admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core Js -->
    <script src="~/Content/Theme/Admin/plugins/bootstrap/js/bootstrap.js"></script>
    <!-- Select Plugin Js -->
    <script src="~/Content/Theme/Admin/plugins/bootstrap-select/js/bootstrap-select.js"></script>
    <!-- Slimscroll Plugin Js -->
    <script src="~/Content/Theme/Admin/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- Bootstrap Colorpicker Js -->
    <script src="~/Content/Theme/Admin/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <!-- Dropzone Plugin Js -->
    <script src="~/Content/Theme/Admin/plugins/dropzone/dropzone.js"></script>
    <!-- Input Mask Plugin Js -->
    <script src="~/Content/Theme/Admin/plugins/jquery-inputmask/jquery.inputmask.bundle.js"></script>
    <!-- Multi Select Plugin Js -->
    <script src="~/Content/Theme/Admin/plugins/multi-select/js/jquery.multi-select.js"></script>
    <!-- Jquery Spinner Plugin Js -->
    <script src="~/Content/Theme/Admin/plugins/jquery-spinner/js/jquery.spinner.js"></script>
    <!-- Bootstrap Tags Input Plugin Js -->
    <script src="~/Content/Theme/Admin/plugins/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <!-- noUISlider Plugin Js -->
    @*<script src="~/Content/Theme/Admin/plugins/nouislider/nouislider.js"></script>*@
    <!-- Waves Effect Plugin Js -->
    <script src="~/Content/Theme/Admin/plugins/node-waves/waves.js"></script>
    <!-- Custom Js -->
    <script src="~/Content/Theme/Admin/js/admin.js"></script>
    <script src="~/Content/Theme/Admin/js/pages/forms/advanced-form-elements.js"></script>
    <!-- Demo Js -->
    <script src="~/Content/Theme/Admin/js/demo.js"></script>

